$primary-color: #3D5AFE;
$white-color: #FFF;
$xsmall-max: 575.98px;
$small-min: 576px;
$small-max: 767.98px;
$medium-min: 768px;
$medium-max: 991.98px;
$large-min: 992px;
$large-max: 1199.98px;
$xlarge-min: 1200px;