$primary-color: #3D5AFE;
$facebook-color: #4268b3;
$twitter-color: #1da1f3;
$instagram-color: #e02189;
$email-color: #f14436;
$rss-color: #ff7c0a;
$xsmall-max: 575.98px;
$small-min: 576px;
$small-max: 767.98px;
$medium-min: 768px;
$medium-max: 991.98px;
$large-min: 992px;
$large-max: 1199.98px;
$xlarge-min: 1200px;
$border-radius: 25px;
$linear-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
$shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$shadow-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
$shadow-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);