@import 'variables';

/* ------------------------------------------------------------ */
/*                         Essentials                           */
/* ------------------------------------------------------------ */
html {
  height: 100%;
}

body {
  color: #111;
  background: #f3f5f6;
  font-family: 'Nunito', sans-serif;
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: inherit;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  color: $primary-color;
  text-decoration: none;
}

p {
  font-size: 12pt;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

p a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
}

.main {
  margin-top: -140px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

main {
  max-width: 630px !important;
}

aside {
  min-width: 330px;
}

.visible-xs {
  display: none;
}

.hidden-xs {
  display: inline-block;
}

.text-hide {
  margin: 0;
}

@media (max-width: $small-max) {
  main {
    text-align: center;
    max-width: none !important;
  }

  .visible-xs {
    display: inline-block;
  }

  .hidden-xs {
    display: none;
  }

  aside {
    min-width: auto;
  }
}

@media (min-width: $medium-min) and (max-width: $medium-max) {
  main {
    flex: 0 0 calc(100% - 330px) !important;
  }
}

.page main {
  flex: none !important;
}

::selection {
  color: #fff;
  background: #3390ff;
}

.bio ::selection, .pagination ::selection {
  color: inherit;
}

/* ------------------------------------------------------------ */
/*                         Header                               */
/* ------------------------------------------------------------ */
header {
  background: $primary-color;
  height: 260px;
  width: 100%;
}

header .wrapper, footer .wrapper {
  background: rgba(0, 0, 0, 0.20);
  width: 100%;
  height: 20px;
}

.top {
  margin: 1.8rem 0;
  font-size: 0;
}

.logo {
  width: 200px;
  height: 42px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  display: inline-block;
  background: url("../img/logo.svg");
}

nav.navbar {
  width: 100%;
  padding: 0 10px;
  display: block;
}

.navbar-collapse {
  float: right;
  margin-top: -72px;
}

.nav-item {
  padding: .25rem;
}

.nav-item a {
  font-size: 12pt;
  border-radius: $border-radius;
  color: #fff;
  -webkit-text-stroke-width: 0;
  padding: .5rem 1rem .4rem !important;
  transition: $linear-transition;
}

.active a, .active a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.1);
}

button.navbar-toggler {
  float: left;
  margin-top: -60px;
  outline: none;
  position: relative;
  padding: .75rem .75rem .5rem;
  border-radius: 50%;
}

button.navbar-toggler i {
  font-size: 20pt !important;
  color: #fff;
}

.beta {
  color: $primary-color;
  background: #fff;
  width: 60px;
  padding: 1px;
  text-align: center;
  border-radius: 5px;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
  position: absolute;
  top: 38px;
  left: 220px;
  display: none;
}

@media (max-width: $small-max) {
  .navbar-collapse {
    float: none;
    margin: 0;
    padding-bottom: 15px;
  }

  .top {
    margin: 1rem 0;
    text-align: center;
  }

  .logo {
    width: 160px;
    height: 36px;
    text-align: center;
  }

  header {
    height: auto;
  }

  .navbar {
    padding-bottom: 80px !important;
  }

  .main {
    margin-top: -80px;
  }

  .nav-item a {
    display: block;
  }

  .beta {
    position: absolute;
    top: 20px;
    right: 15px;
    left: auto;
  }
}

@media (min-width: $medium-min) and (max-width: $medium-max) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Beta */
//@media (min-width: $medium-min) and (max-width: 819.98px) {
//  .nav-item a {
//    padding: .4rem .6rem !important;
//  }
//}

/* ------------------------------------------------------------ */
/*                         Article                              */
/* ------------------------------------------------------------ */
article {
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  overflow: hidden;
  margin-bottom: 30px;
  text-align: left;
  display: inline-block;
}

article .image {
  overflow: hidden;
  position: relative;
}

article .image a {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

article .image, article .image a {
  height: 240px;
}

article.old .image, article.old .image a {
  height: 200px;
}

article .image img {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

article .image a img:hover {
  width: 105%;
}

@media (max-width: 504px), (min-width: 768px) and (max-width: 864px) {
  article .image img {
    position: relative;
    transform: none;
    z-index: -1;
    top: 0;
    left: 0;
  }

  article .image a img:hover {
    width: 100%;
  }

  article .image, article .image a {
    height: auto;
  }
}

@media (max-width: $medium-max) {
  article.old .image img {
    position: relative;
    transform: none;
    z-index: -1;
    top: 0;
    left: 0;
  }

  article.old .image, article.old .image a {
    height: auto;
  }
}

article .content {
  background: #fff;
  padding: 30px;
}

h1 {
  font-size: 24pt;
  line-height: 1.5;
  margin: 0 0 1rem;
  color: #fff;
  -webkit-text-stroke-width: .4px;
}

h1 small {
  margin-right: 4px;
}

.headline {
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.75);
}

.title {
  margin-top: -4px;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  transition: all .2s ease;
  -webkit-text-stroke-width: .8px;
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: $primary-color;
}

h2, h3, h4, h5, h6 {
  -webkit-text-stroke-width: .8px;
  margin: 10px 0;
}

h2 {
  font-size: 20pt;
  line-height: 28pt;
  margin: 10px 0 15px;
}

h3 {
  font-size: 18pt;
  line-height: 24pt;
}

h4 {
  font-size: 16pt;
  line-height: 20pt;
}

h5 {
  font-size: 14pt;
  line-height: 20pt;
}

h6 {
  font-size: 12pt;
  line-height: 20pt;
}

article ul li, article ol li {
  padding: 2px 0;
}

article ul, article ol {
  padding-left: 1.7rem;
}

pre {
  background: #eee;
  padding: 10px 15px;
  border-radius: 4px;
  overflow: auto;
}

th, strong {
  font-weight: normal;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: inherit;
  -webkit-font-smoothing: antialiased;
}

blockquote {
  margin: 0 auto 1rem;
  font-style: italic;
  font-size: 1.25rem;
  width: 90%;
}

cite {
  display: block;
  font-size: 80%;
  color: #6c757d;
  text-align: right;
}

cite::before {
  content: "\2014 \00A0";
}

.img-full {
  width: calc(100% + 60px);
  margin: 10px 0 25px -30px;
  border-radius: 0 !important;
}

.img-fluid {
  width: 100%;
}

.img-single {
  float: left;
  margin: 0 1.5rem 1rem 0;
  height: auto;
}

.img-single-right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  height: auto;
}

.single-2 {
  width: 50%;
}

.single-3 {
  width: 33%;
}

.single-4 {
  width: 25%;
}

.single-5 {
  width: 20%;
}

.single-6 {
  width: 15%;
}

@media (max-width: $small-max) {
  .single-2, .single-3 {
    width: calc(100% + 60px);
    margin: 10px 0 25px -30px;
  }
}

article .text img {
  border-radius: .25rem;
  transition: $linear-transition;
}

article .text a img:hover {
  box-shadow: $shadow-2;
}

.borderless {
  border-radius: 0 !important;
}

.embed-responsive {
  width: calc(100% + 60px);
  margin: 25px 0 20px -30px;
}

.meta {
  color: #888;
  font-size: 11pt;
  margin: 20px 0 4px;
  -webkit-text-stroke-width: .4px;
}

.meta div {
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: $medium-max) {
  .meta div {
    display: block;
    margin: 2px 0;
  }
}

.meta div i.material-icons {
  display: inline-block;
  font-size: 14pt !important;
  vertical-align: top;
  margin: 1px 2px 2px 0;
  -webkit-text-stroke-width: 0;
}

.meta div:first-child {
  margin-left: 0;
}

.meta a {
  color: inherit;
  -webkit-text-stroke-width: .4px;
  transition: $linear-transition;
}

.meta a:hover {
  color: #444;
}

.single .meta {
  margin-top: -10px;
  margin-bottom: 20px;
}

@media (max-width: $medium-max) {
  .single .meta {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  .single .meta div {
    display: inline-block;
    margin-left: 10px;
  }

  .single .meta div:first-child {
    margin: 0;
  }

  .meta div i.material-icons {
    margin-top: 0;
  }
}

.button {
  border: none;
  font-size: 11pt;
  padding: 6px 18px;
  color: #fff;
  display: inline-block;
  background: $primary-color;
  border-radius: $border-radius;
  -webkit-text-stroke-width: .4px;
  transition: $linear-transition;
}

.button:hover {
  color: #fff;
  box-shadow: $shadow-2;
}

@media (max-width: $medium-max) {
  .button {
    padding-top: 8px;
  }
}

article .button {
  float: right;
  margin-top: -32px;
}

.tail hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: calc(100% + 60px);
  margin-left: -30px;
}

.tail {
  color: #333;
  font-size: 11pt;
}

.tail > div {
  padding: 0 15px;
}

.tail > div > div {
  padding: 0;
}

.tail .col-2 {
  min-width: 100px;
  display: flex;
  align-items: center;
  margin: 0;
}

.tags .col-2 {
  align-items: start;
  margin-top: 2px;
  margin-bottom: 8px;
}

.tail .col-10 {
  max-width: calc(100% - 100px);
}

.tail i {
  vertical-align: top;
  margin-right: .5rem;
  font-size: 16pt;
}

.tags .tag {
  display: inline-block;
  background: #8090a8;
  font-size: 10pt;
  color: #fff;
  margin: 3px 1px;
  transition: $linear-transition;
  padding: 3px 12px 2px;
  border-radius: 1rem;
  -webkit-text-stroke-width: 0;
}

.tags .tag:hover {
  box-shadow: $shadow-2;
}

.share {
  margin-top: .5rem;
}

.share a {
  color: #fff;
  margin: 0 .2rem;
  border-radius: 2rem;
  display: inline-block;
  padding: .26rem 1rem .24rem 2.3rem;
  background-position: .7rem !important;
  transition: $linear-transition;
}

.share a:hover {
  box-shadow: $shadow-2;
}

.share a:first-child {
  background: $facebook-color url("../img/facebook.svg") center no-repeat;
  background-size: 1rem;
}

.share a:nth-child(2) {
  background: $twitter-color url("../img/twitter.svg") center no-repeat;
  background-size: 1rem;
}

.share a:last-child {
  background: $email-color url("../img/googleplus.svg") center no-repeat;
  background-size: 1.2rem;
  padding-left: 2.4rem;
}

@media (max-width: $large-max) {
  .share {
    margin-top: 1rem;
  }

  .share a {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    width: 2rem;
    height: 2rem;
    padding: 0 !important;
    background-position: center !important;
  }
}

.pagination {
  text-align: center;
  margin-bottom: 30px;
  display: block;
}

.pagination a, .pagination span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: .3rem;
  border-radius: 1rem;
  margin: 0 .2rem;
  font-size: 11pt;
  color: #111;
  background: rgba(0,0,0,0.1);
  -webkit-text-stroke-width: .5px;
  transition: $linear-transition;
}

.pagination .waves-light {
  background: $primary-color;
  color: #fff;
}

.pagination span {
  background: transparent !important;
}

.pagination a:hover {
  box-shadow: $shadow-2;
}

@media (max-width: $small-max) {
  .title {
    margin-top: -2px;
  }

  h2 {
    font-size: 18pt;
    line-height: 24pt;
    margin: 10px 0 10px;
  }

  h3 {
    font-size: 16pt;
    line-height: 22pt;
  }

  h4 {
    font-size: 14pt;
    line-height: 20pt;
  }

  h5 {
    font-size: 13pt;
    line-height: 18pt;
  }

  h6 {
    font-size: 12pt;
    line-height: 16pt;
  }

  article .content {
    padding: 24px;
  }

  article .button {
    margin-top: -38px;
  }

  .pagination a, .pagination span {
    padding: .4rem;
  }
}

/* ------------------------------------------------------------ */
/*                         Comments                             */
/* ------------------------------------------------------------ */
.comments {
  text-align: left;
  max-width: 600px;
  display: inline-block;
}

.comment {
  margin-bottom: 1.5rem;
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  display: table;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.comment img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
}

.comments h2 {
  margin-top: 20px;
}

.comments h3 {
  margin: 2rem 0 1rem;
}

.comment h3, .comment small {
  display: table;
  margin: 0 0 0 4rem;
}

.comment small {
  color: #666;
  margin-bottom: 1rem;
}

.comment .button {
  float: right;
  margin-top: 1rem;
}

.comment-reply {
  float: right;
}

.comment-reply i {
  color: #ccc;
  padding: 4px 5px 6px;
  border-radius: 2rem;
  transition: $linear-transition;
}

.comment-reply i:hover {
  background: #8090a8;
  color: #fff;
}

.comment .col-lg-7 {
  margin-top: 1rem;
}

.form-check {
  padding-left: 1.5rem;
  padding-bottom: .4rem;
  font-size: 11pt;
}

@media (max-width: $medium-max) {
  .comment .col-lg-7 {
    margin: 0;
  }

  .comment textarea {
    margin-top: .25rem !important;
  }
}

.form-control {
  margin-bottom: 10px;
}

.form-control:focus {
  outline: 0;
  color: #495057;
  background-color: #fff;
  border-color: rgba(61, 90, 254, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(61, 90, 254, 0.25);
}

.comment textarea {
  width: 100%;
  margin: 0;
  height: 7rem;
  min-height: 7rem;
}

.button:focus {
  outline: 0;
}

.custom-control-label::after, .custom-control-label::before {
  top: .15rem;
}

.custom-control-input:active~.custom-control-label::before {
  background-color: rgba(61, 90, 254, .25);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $primary-color;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(61, 90, 254, .25);
}

/* ------------------------------------------------------------ */
/*                         Sidebar                              */
/* ------------------------------------------------------------ */
.widget {
  margin: 0 auto 30px;
  max-width: 300px;
  color: #333;
}

.bio {
  margin-top: -18px;
  margin-bottom: 70px;
}

.bio .photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 18px 0 0 0;
  transition: $linear-transition;
  box-shadow: $shadow-1;
}

.bio .photo img {
  width: 100px;
  height: 100px;
}

.bio div {
  color: #fff;
  font-size: 13pt;
  position: relative;
  line-height: 18pt;
  display: inline-block;
  text-align: left;
  margin: 0 0 0 16px;
}

.bio .button {
  background: #fff;
  color: $primary-color;
  margin: 80px 0 0 -120px;
  -webkit-text-stroke-width: .8px;
  box-shadow: $shadow-1;
}

.bio .button:hover, .bio .photo:hover {
  box-shadow: $shadow-3;
}

@media (max-width: $small-max) {
  .bio {
    background: $primary-color;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 0 30px;
    text-align: center;
    max-width: none;
  }

  .bio .photo {
    margin-left: -18px;
  }
}

.social-icons a {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  margin: 0 .2rem;
  border-radius: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: $linear-transition;
}

.social-icons a:hover {
  box-shadow: $shadow-2;
}

.social-icons a:first-child {
  background-image: url("../img/facebook.svg");
  background-color: $facebook-color;
}

.social-icons a:nth-child(2) {
  background-image: url("../img/twitter.svg");
  background-color: $twitter-color;
}

.social-icons a:nth-child(3) {
  background-image: url("../img/instagram.svg");
  background-color: $instagram-color;
}

.social-icons a:nth-child(4) {
  background-image: url("../img/email.svg");
  background-color: $email-color;
}

.social-icons a:last-child {
  background-image: url("../img/rss.svg");
  background-color: $rss-color;
  background-size: 45%;
}

.search-box {
  width: 80%;
  border: none;
  outline: none;
  color: #495057;
  display: block;
  font-size: 12pt;
  border-radius: 2rem;
  padding: .4rem 1rem .4rem 2.5rem;
  transition: $linear-transition;
  box-shadow: $shadow-1;
}

.search-box:hover, .search-box:focus {
  box-shadow: $shadow-2;
}

.search-box:focus {
  width: 100%;
}

.search-icon {
  color: #888;
  font-size: 14pt;
  padding-bottom: 1.25rem;
  margin-top: -1.75rem;
  margin-left: .75rem;
  width: 20px;
  height: 20px;
  display: block;
}

@media (max-width: $small-max) {
  .social-icons {
    text-align: center;
  }

  .search-box {
    width: 100%;
    padding-top: .6rem;
    padding-bottom: .4rem;
  }
}

/* ------------------------------------------------------------ */
/*                         Action                               */
/* ------------------------------------------------------------ */
.action {
  background: $primary-color;
  color: #fff;
  padding: 2.5rem 0;
}

.action-text {
  width: 100%;
  font-size: 20pt;
  text-align: center;
  margin: 0 0 1rem;
}

.action .button {
  background: #fff;
  color: $primary-color;
  float: none;
  display: inline-block;
  margin: 0 auto;
  font-size: 16pt;
  padding: .6rem 1.6rem;
  -webkit-text-stroke-width: 1px;
  box-shadow: $shadow-1;
}

.action .button:hover {
  box-shadow: $shadow-3;
}

/* ------------------------------------------------------------ */
/*                         Footer                               */
/* ------------------------------------------------------------ */
footer {
  background: #384651;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7rem;
  font-size: 11pt;
}

body {
  padding-bottom: calc(7rem + 15px);
}

footer .row {
  padding: 1.8rem 15px;
}

footer .logo {
  width: 160px;
  height: 34px;
}

footer .copy {
  margin: .5rem auto 0 1rem;
}

footer .social {
  margin-top: -16px;
}

footer .social a {
  width: 2.2rem;
  height: 2.2rem;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  margin: 0 .1rem;
  border-radius: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: $linear-transition;
}

footer .social a:hover {
  background-color: rgba(0, 0, 0, .2);
}

footer .social a:first-child {
  background-image: url("../img/facebook.svg");
}

footer .social a:nth-child(2) {
  background-image: url("../img/twitter.svg");
}

footer .social a:nth-child(3) {
  background-image: url("../img/instagram.svg");
}

footer .social a:nth-child(4) {
  background-image: url("../img/email.svg");
}

footer .social a:last-child {
  background-image: url("../img/rss.svg");
  background-size: 45%;
}

@media (max-width: $medium-max) {
  footer .logo, footer .social {
    margin-left: auto;
    margin-right: auto;
  }

  footer .copy {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }

  footer {
    height: 11.5rem;
  }

  body {
    padding-bottom: 12.5rem;
  }
}

@media (max-width: $small-max) {
  footer {
    font-size: 10pt;
    height: 12.5rem;
  }

  body {
    padding-bottom: 12.5rem;
  }
}

footer .wrapper {
  position: absolute;
  bottom: 0;
}

@import 'fancybox';
@import 'waves';